@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .size-box {
    @apply w-8 h-8 border border-white text-white flex justify-center items-center hover:bg-white hover:text-primary cursor-pointer duration-300;
  }
}


::-webkit-scrollbar {
  width: 12px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
  }
  50% {
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
  }
  100% {
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
  }
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 6px;
  animation: pulse 1.5s infinite;
}